{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Django Site</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/cover.css' %}" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"><a href="/">{{ title }}</a></h3>
                            <nav>{{ upload_message }}
                                <!--
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                -->
                            </nav>
                        </div>
                    </div>{{ form_message }}
                    <div class="inner cover">
                        <h1 class="cover-heading">{{ message }}.</h1>
                        <form class="lead" action="/" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label for="imageName">Title:</label>
                                <input type="text" class="form-control" id="imageName" name="imageName" maxlength="40" required>
                            </div> 
                            <div class="form-group">
                                <label for="starterImage">Choose a picture:</label>
                                <input type="file" class="form-control" id="starterImage" name="starterImage" accept=".bmp,.gif,.jpg,.jpeg,.png" required>
                            </div>               
                            <button type="submit" class="btn btn-default">Upload</button>             
                        </form>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{% static 'home/js/docs.min.js' %}"></script>
        <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
    </body>
</html>
